.drinks{
  overflow: hidden;
  max-width: 960px;
  background: white;
  padding: 40px;
  box-shadow: 1px 1px 4px rgba(black, 0.5);
  border-radius: 2px;
  @include print() {
    padding: 0;
    max-width: 100%;
    width: 100%;
    box-shadow: none;
  }
  li{
    @include mobile{
      height: 110px;
      overflow: hidden;
    }
  }
  .empty-list {
    font-weight: 300;
    font-size: 28px;
    color: #FF3A3A;
    text-align: center;
    line-height: 190px;
  }
}

.drinkEl{
  display: block;
  overflow: hidden;
  highlight: none;
  text-decoration: none;
  width: 410px;
  @include print() {
    width: 380px;
  }
  height: 150px;
  float: left;

  padding: 10px;
  cursor: pointer;

  &:hover{
    background: #f0f0f0;
    color: #333333;
  }

  .drink{
    float: left;
  }
  .drink-details{
    margin-left: 50px;
    float: left;
    width: 250px;
    @include print() {
      width: 230px;
    }
    padding-top: 30px;

  }
  .name{
    font-size: 50px;
    display: block;
    @include ellipsis;
    max-height: 101px;
  }
  .text{
    font-size: 16px;
    @include inline-block;
    color: #888;
  }

  @include mobile{
    padding: 0;
    @include scale(0.65);
    @include transform-origin(0,0);
  }
}


.add-drink{
  a{
    @extend .drinkEl;
    color: #9a9a9a;
    font-size: 60px;
  }
  .plus{
    font-size: 120px;
    vertical-align: middle;
  }
  span:not(.plus){
    position:relative;
    top: 18px;
  }
  @include hide-for-print;
}
