.error {
  background: image_url('error-bg.png') no-repeat;
  background-color: #472711;
  background-size: cover;
  color: white;
  text-align: center;
  height: 718px;
  @include mobile() {
    height: 600px;
  }
  border-bottom: 1px solid #9CAFC3;
  overflow: hidden;
  text-align: center;

  margin-bottom: -100px;
  padding-top: 100px;
  .code {
    font-weight: 100;
    font-size: 200px;
    line-height: 240px;
  }

  .message {
    max-width: 600px;
    margin: 0 auto;
    font-size: 48px;
    color: rgba(255,255,255,0.76);
    line-height: 58px;
  }
}
