.heading {
  h2 {
    text-align: left;
    line-height: 45px;
    @include print() {
      text-align: center;
    }
  }
  .btn {
    @media (screen and min-width: 720px) {
      text-align: right;
      position: absolute;
      right: 0;
      bottom: 32px;
    }
    display: inline-block;
    margin-top: 8px;
    @include hide-for-print();
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      background: clear;
    }
  }
  margin-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #979797;
  margin-bottom: 32px;
  position: relative;
  @include print() {
    margin: 0;
    padding: 8px 0;
  }

}

.posters{
  overflow: hidden;
  .poster {
    background: white;
    box-shadow: 1px 1px 4px rgba(black, 0.5);
    border-radius: 2px;
    margin: 5px;
    float: left;
    width: 310px;
    min-height: 240px;
    text-align: center;
  }
  li{
    cursor: pointer;
    overflow: hidden;
    &:hover{
      background: #f0f0f0;
      a{
        color: #333333;
      }
    }

    a{
      display: block;
      height: 240px;
      text-decoration: none;
      &:hover{
        background: none;
        color: none;
      }

      @include mobile{

      }
    }

    span{
      width: 250px;
      display: inline-block;
      font-size: 20px;
      padding-left: 10px;
      top: 10px;
      position: relative;
      @include mobile{
        top: auto;
        display: block;
        padding: 10px 0 10px 10px;
      }
    }

    small{
      font-size: 12px;
    }
  }
}

.mini-drinks{
  display: inline-block;
  vertical-align: middle;

  .drinkContainer{
    float: left;
    width: 50px;
    height: 65px;
    transform: scale(0.3);
  }
}

.inner-content{
  min-height: 190px;
}
