.root{
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  overflow: hidden;
  .text{
    width: 660px;
    float: left;
  }
  .mini-drinks{
    float: right;
    width: 200px;
  }


  ul{
    list-style: circle;
    margin-left: 20px;
    font-size: 16px;
  }

  .sign-in-now{
    margin-top: 10px;
    border-top: 1px solid #888;
    padding-top: 10px;
  }

  .links{
    text-align: center;
    a{
      &:hover{
        background:transparent;
        @include opacity(0.9);
      }
      display: block;
    }
  }
}