.root{
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  overflow: hidden;
  .text{
    width: 660px;
    float: left;
    @include mobile{
      width: auto;
      float: none;
      h2{
        line-height: auto;
        font-size: 20px;
      }
    }
  }
  .mini-drinks{
    float: right;
    width: 200px;
    @include mobile{
      float: none;
      width: auto;
      margin-left: -8px;

    }
  }


  ul{
    list-style: circle;
    margin-left: 20px;
    font-size: 16px;
    @include mobile{
      font-size: 13px;
      margin-left: 6px;
    }
  }

  .sign-in-now{
    margin-top: 10px;
    border-top: 1px solid #888;
    padding-top: 10px;
  }

  .links{
    text-align: center;
    a.fb-link{
      &:hover{
        background:transparent;
        @include opacity(0.9);
      }
      display: block;
    }
  }
}