.drink{:class => [drink.kind, iced(drink)]}
  .liquid{:class => [drink.kind, drink.strength, drink.tea_type, drink.water_type, drink.soda_type]}
  - if is_iced(drink)
    .ice
      .cube.cube-1
      .cube.cube-2
      .cube.cube-3
  - if drink.tea?
    .teabag
  - if has_milk(drink)
    .milk{:class => [drink.milk_type, drink.milk_amount]}
  - if has_sugar(drink)
    .sugars
      - drink.sugar_amount.to_i.times do
        .sugar{:class => [drink.sugar_type]}
      - if has_half_sugar(drink)
        .sugar.half{:class => [drink.sugar_type]}
  - if is_sparkling(drink)
    .bubbles
      .bubble.bubble-1
      .bubble.bubble-2
      .bubble.bubble-3

  - if has_handle(drink)
    .handle