.header-padder.darker
= render 'layouts/notice'

.container
  .heading
    %h2
      = link_to @poster.name, current_poster
      %i.fa.fa-angle-right
      = t('.new')
  .drinks.inner-content
    = render 'form'
