.error
  .code= code
  .message= t(params[:action], :scope => 'errors')
  .stain

  .attribution
    Coffee Stain by
    %a{:href => 'http://www.free-photo-gallery.org/photos/coffee-stain/'} roger.karlsson