@import 'normalize-rails';
@import 'font-awesome';

em { font-style: normal; }
body { h1,h2,h3,h4,h5 { margin: 0;} }
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@import 'mixins';
@import 'form';
@import 'layout';
@import 'drink';
@import 'pages/drinks';
@import 'pages/posters';
@import 'pages/error';
@import 'pages/about';
