$glass-margin: 10px;
$liquid-width: 80px;
$liquid-height: 130px;
$glass-color: #888;

@mixin pod($color){
  .top{
    border-bottom-color: darken($color, 20);
  }
  .middle{
    border-bottom-color: $color;
  }
}

.drink{
  display: block;
  width: $glass-margin * 2 + $liquid-width;
  height: $glass-margin * 2 + $liquid-height;
  border-bottom: $glass-margin * 2 + $liquid-height solid $glass-color;
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  position: relative;
  z-index: 8;

  &.coffee, &.tea{
    &, & .liquid{
      background: rgba(black, 1);
    }
  }

  .liquid{

    box-sizing: border-box;
    position: absolute;
    border-bottom: $liquid-height solid #000;
    width: $liquid-width;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: $glass-margin;
    left: $glass-margin;
    z-index: 9;

    &.coffee{
      $regular: #ad8850;
      $light: #dcb062;
      $strong: #381f18;
      &, &.regular{
        border-color: $regular;
      }
      &.light{
        border-color: $light;
      }
      &.strong{
        border-color: $strong;
      }
    }

    &.iced_coffee{
      @extend .coffee;
    }

    &.espresso{
      border-color: #ad8850;
    }

    &.turkish{
      $regular: #381f18;
      $light: #522f21;
      $strong: #1c0e0e;
      &, &.regular{
        border-color: $regular;
      }
      &.light{
        border-color: $light;
      }
      &.strong{
        border-color: $strong;
      }
    }

    &.tea{
      $earl-grey-tea-color: #b96044;
      $herbal-tea-color: #eb9696;
      $green-tea-color: #abc564;
      $black-tea-color: #753e3c;

      &, &.earl_grey {
        border-color: $earl-grey-tea-color;
        background: $earl-grey-tea-color;
      }

      &.herbal{
        border-color: $herbal-tea-color;
        background: $herbal-tea-color;
      }

      &.green{
        border-color: $green-tea-color;
        background: $green-tea-color;
      }

      &.english_breakfast {
        border-color: $black-tea-color;
        background: $black-tea-color;
      }

    }

    &.soft-drink{
      top: 0;
      border-width: $liquid-height + $glass-margin;
    }

    &.water{
      border-color: #B1DAF0;
      @extend .soft-drink;
    }


    &.soda{
      $coke-color: #333;
      $sprite-color: #94D17B;
      $fanta-color: #F5C21B;

      @extend .soft-drink;

      &.coke, &.diet_coke, &.coke_zero{
        border-color: $coke-color;
      }
      &.sprite{
        border-color: $sprite-color;
      }
      &.fanta{
        border-color: $fanta-color;
      }

    }
  }

  .milk{
    $regular: #fff;
    $slim: rgba(255, 255, 255, 0.9);
    $soy: #fafad2;

    width: $liquid-width;
    border-bottom: 30px solid $regular;
    position: absolute;
    top: $glass-margin;
    left: $glass-margin;
    z-index: 10;
    form &{
      cursor: ns-resize;
    }

    &.a_bit{
      border-width: 10px;
    }
    &.a_third{
      border-width: 30px;
    }
    &.a_lot{
      border-width: 50px;
    }

    &.regular{
      border-color: $regular
    }
    &.slim {
      border-color: $slim;
    }
    &.soy, &.almond, &.rice, &.hazelnut {
      border-color: $soy;
    }
  }

  .handle{
    border: 10px solid $glass-color;
    border-radius: 10px;
    position: absolute;
    width: 20px;
    height: 60px;
    right: -30px;
    top: 30px;
    z-index: 7;
  }

  .sugars{
    $sugar-size: 15px;
    $white-sugar-color: white;
    $brown-sugar-color: #705D35;

    width: $liquid-width;
    position: absolute;
    left: $glass-margin;
    top: 100px;
    height: $sugar-size + 1 ;
    z-index: 11;

    padding: 0 10px;

    .sugar{
      border-bottom: $sugar-size solid white;
      width: $sugar-size;
      margin-right: 10px;
      float: left;
      height: 1px;

      &.half{
        width: $sugar-size/2;
      }

      &, &.regular{
        border-color: $white-sugar-color;
      }

      &.brown{
        border-color: $brown-sugar-color;

      }
      &.artificial_sweetener{
        border-color: $white-sugar-color;
        border-radius: 10px;
        width: $sugar-size/1.5;
        &.half{
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-width: $sugar-size/1.5;
        }
      }
    }

  }


  .teabag{
    $teabag-color: #d3d4b2;
    $teabag-string-color: #444;
    $string-length: 60px;

    content: "";
    position: absolute;
    width: 20px;
    height: 0;
    border-bottom: 25px solid $teabag-color;
    top: $string-length;
    left: 5px;
    z-index: 12;
    &:before{
      content: "";
      position: absolute;
      width: 10px;
      border-bottom: 7px solid $teabag-color;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      top: -7px;
      left: 0;
      z-index: 12;
    }
    &:after{
      content: "";
      position: absolute;
      width: 2px;
      height: $string-length;

      background: $teabag-string-color;
      top: -1 * $string-length;
      left: 9px;
    }
  }


  .bubbles{
    position: absolute;
    left: $glass-margin * 2.5;
    top: 32px;
    z-index: 13;
    .bubble{
      position: absolute;

    }
    .bubble-1{
      width: 20px;
      height: 20px;
      border: 5px solid white;
      border-radius: 20px;
    }
    .bubble-2{
      width: 10px;
      height: 10px;
      border: 4px solid white;
      border-radius: 80px;
      left: 30px;
      top: 40px;
    }
    .bubble-3{
      width: 10px;
      height: 10px;
      box-sizing: border-box;
      border: 5px solid white;
      border-radius: 20px;
      left: 20px;
      top: 70px;
    }
  }


  &.cooler_glass{
    border-bottom-width: 0;
    border-left: 15px solid rgba(0, 0, 0, 0) !important;
    border-right: 15px solid rgba(0, 0, 0, 0) !important;
    border-top: 150px solid #888;
    border-radius: 0;


    .liquid{
      border-bottom-width: 0;
      border-top-width: 130px;
      border-top-style: solid;
      border-radius: 0;
      border-left: 11px solid rgba(0, 0, 0, 0) !important;
      border-right: 11px solid rgba(0, 0, 0, 0) !important;
      left: -5px;
      top: -140px;
    }

    .ice{
      position: absolute;
      top: -135px;
      left: 0;
      z-index: 12;
      .cube{
        border-bottom: 20px solid #b0d4fc;
        width: 20px;
        position: absolute;
        top: 0;
        left: 2px;
        transform: rotate(45deg);
      }

      .cube-2{
        width: 15px;
        border-width: 15px;
        left: 25px;
        top: 2px;
        transform: rotate(5deg);
      }

      .cube-3{
        width: 25px;
        border-width: 25px;
        left: 45px;
        transform: rotate(65deg);
      }

    }

    .sugars{
      top: -60px;
      left: -5px;
    }

    .milk{
      border-bottom-width: 0;
      border-top-style: solid;
      border-radius: 0;
      left: -5px;
      top: -140px;

      width: 77px;
      border-left: 2px solid rgba(0, 0, 0, 0) !important;
      border-right: 2px solid rgba(0, 0, 0, 0) !important;

      &.a_bit{
        border-top-width: 10px;
      }
      &.a_third{
        border-top-width: 20px;
      }
      &.a_lot{
        border-top-width: 50px;
        border-left: 5px solid rgba(0, 0, 0, 0) !important;
        border-right: 5px solid rgba(0, 0, 0, 0) !important;
        width: 71px;
      }
    }

    .bubbles{
      left: 10px;
      top: -125px;
    }
  }


  &.small{
    border-width: 100px;
    width: 80px;
    margin-left: 20px;

    .liquid{
      top: auto;
      bottom: -90px;
      width: 60px;
      border-radius: 0;
      border-top-style: solid;
      border-top-color: lighten($glass-color, 8) !important;
    }

    &, &.single{
      .liquid{
        border-bottom-width: 20px;
        border-top-width: 60px;
      }
      .sugars{
        top: 125px;
      }

      .milk{
        bottom: -70px;
      }
    }

    &.long{
      .liquid{
        border-bottom-width: 30px;
        border-top-width: 50px;
      }
      .sugars{
        top: 125px;
      }

      .milk{
        bottom: -60px;
      }
    }

    &.double, &.turkish{
      .liquid{
        border-bottom-width: 40px;
        border-top-width: 40px;
      }

      .milk{
        bottom: -50px;
      }
      .sugars{
        top: 116px;
      }
    }

    .milk{
      top: auto;
      width: 60px;
      &.a_third{
        border-width: 25px;
      }
      &.a_lot{
        border-width: 40px;
      }
    }

    .sugars{
      left: 10px;
      transform: scale(0.75);
      transform-origin: 0 0;
    }

    .handle{
      height: 20px;
      top: 70px;
      border-radius: 20px;
      width: 10px;
      right: -20px;
    }
  }

  .pod{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -120px;
    right: -15px;
    z-index: 13;
    .top{
      border-bottom: 4px solid #ADADAD;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      margin-left: 9px;
      width: 18px;
    }
    .middle{
      width: 24px;
      border-bottom: 20px solid red;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      margin-left: 5px;
    }
    .bottom{
      border-bottom: 4px solid #BEBEBE;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
    }


    &.ristretto { @include pod(#4b4b4b); }
    &.arpeggio  { @include pod(#6e318d); }
    &.roma      { @include pod(#4a443c); }
    &.livanto   { @include pod(#a7631c); }
    &.capriccio { @include pod(#476f3d); }
    &.volluto   { @include pod(#bb974b); }
    &.cosi      { @include pod(#521508); }
    &.indriya   { @include pod(#a9a489); }
    &.rosabaya  { @include pod(#d0a7ab); }
    &.dulsao    { @include pod(#e9dcb5); }
    &.fortissio { @include pod(#3f5c58); }
    &.vivalto   { @include pod(#8290e4); }
    &.linizio   { @include pod(#d78e3a); }
    &.kazaar    { @include pod(#000038); }
    &.dharkan   { @include pod(#2E4D4E); }

  }

  &.energy_drink {
    width: 80px;
    left: 10px;
    border-radius: 10px;
    .liquid {
      border-radius: 0px;
      left: 0;
      border-color: blue;
      border-left: 50px solid rgb(205, 248, 255);
      &:after {
        content: '';
        width: 20px;
        border-bottom: 45px solid white;
        border-radius: 25px;
        position: absolute;
        left: 0;
        top: 55px;
      }
    }

  }
}
