body{
  background: #e5e5e5;
  font-family: "Helvetica Neue", "Helvetica", "Arial", san-serif;
  color: #444;
}

.content{
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
  width: 900px;
  margin-top: 30px;
  min-height: 350px;
  margin: 30px auto 30px auto;
  padding: 0 20px 20px 20px;
}


header{
  border-bottom: 1px solid #444;
  overflow: hidden;
  position: relative;
}
.user-dashboard{
  position: absolute;
  top: 10px;
  right: 10px;
  @include hide-for-print;
}

h1{
  text-align: center;
  font-size: 40px;
  font-weight: normal;
}
h2{
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

#notice{
  background: #5BDD5B;
  padding: 8px;
  color: #FFF;
  border-radius: 3px;
  @include hide-for-print;
  margin: 5px 0;
  .hide-notice{
    float: right;
    margin-right: 10px;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    background: rgba(255,255,255, 0.2);
    text-align: center;
    cursor: pointer;
  }
}

#preview{
  background: #a4a4a4;
  padding: 2px 6px;
  color: #FFF;
  border-radius: 3px;
  display: inline-block;
  @include hide-for-print;
}

.links{
  @include hide-for-print;
}

.hide-for-print{
  @include hide-for-print;
}
