$color-bg: #EDEFF3;
$color-primary: #EA7A17;
$color-text: #4A4A4A;
$font: "Lato","Helvetica Neue", "Helvetica", "Arial", san-serif;

$header-height: 82px;
$footer-margin: 40px;
$footer-height: 100px;


html {
  height: 100%;
}

body{
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  position: relative;
  background: $color-bg;
  font-family: $font;
  color: #444;
  font-size: 13px;
  line-height: normal;
  padding-bottom: $footer-height + $footer-margin;
}

.header-padder {
  height: $header-height;
  width: 100%;
  &.darker {
    background: rgba(black, 0.5);
  }
}

header {
  a { text-decoration: none; }
  width: 100%;
  height: $header-height;
  background: rgba(black, 0.38);
  color: white;
  padding: 11px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
}

a{
  color: #222;
}

strong{
  font-weight: bold;
}


h1{
  text-align: center;
  font-size: 44px;
  color: #FFFFFF;
  line-height: 60px;
  font-weight: 200;
  em {
    color: $color-primary;
  }
}

h2{
  text-align: center;
  font-size: 30px;
  line-height: 70px;
  font-weight: 200;
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  color: $color-text;
  text-align: center;
  height: $footer-height;
  font-size: 14px;
  width: 100%;
  margin-top: $footer-margin;
  box-sizing: border-box;
  display: table;
  > span {
    display: table-cell;
    vertical-align: middle;
  }
}

header nav{
  position: absolute;
  top: 33px;
  right: 20px;
  @include hide-for-print;
  @include hide-for-mobile;

  a {
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      background: none;
    }
    &.user-action {
      border: 2px solid white;
      border-radius: 2px;
      padding: 8px 21px;
      margin-left: 10px;
    }
  }
}

#notice{
  background: #64d2a3;
  padding: 8px;
  color: #FFF;
  border-radius: 3px;
  @include hide-for-print;
  margin-bottom: 10px;
  text-align: center;
  .hide-notice{
    float: right;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    text-align: center;
    cursor: pointer;
  }
}

#errors{
  background: #CE5656;
  padding: 8px;
  color: white;
  border-radius: 3px;
  @include hide-for-print;
  margin: 5px 0;
}



.links{
  @include hide-for-print;
  padding-top: 20px;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 19px;
  &.center{
    text-align: center;
  }
}

.hide-for-print{
  @include hide-for-print;
}

.built_with{
  display: none;
  @include show-for-print;
  border-top: 1px solid #e0e0e0;
  padding-top: 20px;
  text-align: center;
}

.btn {
  margin: 0px auto;
  border: none;
  background: #EA7A17;
  padding: 10px 46px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  color: #FBFBFB;
  letter-spacing: 1px;
  line-height: 27px;
  &:hover {
    background: #c06313;
  }
  &.sm {
    padding: 5px 24px;
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
  @media (screen and max-width: 960px) {
    margin: 0 10px;
  }
  @include print() {
    margin: 0;
    min-width: 880px;
    width: 100%;
    max-width: none;
  }
}

h2.rest-in-place {
  &:after {
    content: "\f044";
    @extend .fa;
    font-size: 0.6em;
    margin-left: 6px;
    @include hide-for-print();
  }
}