@mixin hide-for-print(){
  @media print {
    display: none;
  }
}
@mixin show-for-print(){
  @media print {
    display: block;
  }
}


@mixin mobile(){
  @media screen and (max-width: 700px) {
    @content;
  }
}

@mixin hide-for-mobile{
  @include mobile{
    display: none;
  }
}