.pages{
  list-style: none;
  padding: 0;
  li{
    cursor: pointer;
    padding: 0 0 10px 0;
    overflow: hidden;
    &:hover{
      background: #f0f0f0;
      a{
        color: #333333;
      }
    }
    a{
      text-decoration: none;
      &:hover{
        background: none;
        color: none;
      }
    };

    span{
      width: 250px;
      display: inline-block;
      font-size: 20px;
      padding-left: 10px;
      top: 10px;
      position: relative;

    }

    small{
      font-size: 12px;
    }
  }
}
.mini-drinks{
  display: inline-block;
  height: 65px;
  width: 50px * 12;
  vertical-align: middle;

  .drinkContainer{
    float: left;
    width: 50px;
    height: 65px;
    -webkit-transform: scale(0.3);
  }

}