%footer
  %span
    Created & Designed by
    = link_to '@yonbergman', 'https://twitter.com/yonbergman', :rel => :external
    •
    Find more stuff on my blog
    = link_to 'yonbergman.com', 'http://yonbergman.com', :rel => :external
