%footer
  %span
    = t('.created_by')
    = link_to '@yonbergman', 'https://twitter.com/yonbergman', :rel => :external
    = t('.for_more_stuff')
    = link_to 'yonbergman.com', 'http://yonbergman.com', :rel => :external
